<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form Generator</title>
    </head>
    <body>
        <h1>general Setings</h1>
        <From id="from generate">
            <label for=" number">Masukan angka:</label>
            <input type=" text" id="number" name="number" required>
            <br><br>
            <button type= "button" onclick="generate('generate_triangle')"> Generate Segitiga</button>
            <button type= "button" onclick="generate('generate_odd')"> Generate Ganjil</button>
            <button type= "button" onclick="generate('generate_prime')"> Generate Bilangan prima</button>
        </From>
        <div id="result"></div>

        <scip src="/static/scrip.js"></scip>
    </body>
</html>